%h1
  %ul 整理一些對我自己有用的教學影片 by - Steven Ko
%h2 
  %li= link_to "iPhone 遊戲的程式教學影片", learn_ios_path, :onclick => "recordOutboundLink(this, 'Outbound Links', '#{learn_ios_path}');return false;"
  %li= link_to "籃球教學影片", learn_basketball_path, :onclick => "recordOutboundLink(this, 'Outbound Links', '#{learn_basketball_path}');return false;"
  %li= link_to "Java 教學影片", learn_java_path, :onclick => "recordOutboundLink(this, 'Outbound Links', '#{learn_java_path}');return false;"