.container
  /
    Masthead
    \==================================================
  %header#overview.jumbotron.subhead
    %h1 Java 教學
    %p.lead 
    .subnav.subnav-fixed
      %ul.nav.nav-pills
        %li
          %a{:href => "#global"} Java 教學影片 (大陸的)
        %li
          %a{:href => "#global2"} Java 教學影片 (英文)
  %section#global
    .page-header
      %h1
        Java 教學影片
        %small youtube 上一個大陸的教學影片，我覺得講得還不錯
      %table.table
        %thead
          %tr
            %th Title
            %th 影片
        %tbody
          %tr
            %td JAVA_01Java基础部分重要知识(一)
            %td= duplicate_link_to "http://www.youtube.com/watch?v=aOXF1RcLCjs&feature=plcp","java"
          %tr
            %td JAVA_02Java基础部分重要知识(二)
            %td= duplicate_link_to "http://www.youtube.com/watch?v=LP0dXOxVnMQ&feature=plcp","java"
          %tr
            %td JAVA_03面向对象（基础）
            %td= duplicate_link_to "http://www.youtube.com/watch?v=ZFA19pKN7I8&feature=plcp","java"
          %tr
            %td JAVA_04封装性
            %td= duplicate_link_to "http://www.youtube.com/watch?v=CaUK7lmH44A&feature=plcp","java"
          %tr
            %td JAVA_05构造方法、匿名对象
            %td= duplicate_link_to "http://www.youtube.com/watch?v=nlrKpdm2l2M&feature=plcp","java"
          %tr
            %td JAVA_06类设计题目
            %td= duplicate_link_to "http://www.youtube.com/watch?v=vnHvpGlc_n0&feature=plcp","java"
          %tr
            %td JAVA_07作业讲解、String
            %td= duplicate_link_to "http://www.youtube.com/watch?v=SAHpxj7k5Ck&feature=plcp","java"
          %tr
            %td JAVA_08字符串题目、引用传递
            %td= duplicate_link_to "http://www.youtube.com/watch?v=7PKKM9F-Ehk&feature=plcp","java"
          %tr
            %td JAVA_09深入引用、this关键字、对象比较
            %td= duplicate_link_to "http://www.youtube.com/watch?v=NRwxIwvH5zY&feature=plcp","java"
          %tr
            %td JAVA_10static关键字
            %td= duplicate_link_to "http://www.youtube.com/watch?v=FfRwch1Jc48&feature=plcp","java"
          %tr
            %td JAVA_11程序分析、单例设计、static相关应用
            %td= duplicate_link_to "http://www.youtube.com/watch?v=vcSxJgKFh1E&feature=plcp","java"
          %tr
            %td JAVA_12内部类
            %td= duplicate_link_to "http://www.youtube.com/watch?v=9nHWC4CvSCU&feature=plcp","java"
          %tr
            %td JAVA_13链表
            %td= duplicate_link_to "http://www.youtube.com/watch?v=IQU6kMkNEJ8&feature=plcp","java"
          %tr
            %td JAVA_14链表深入
            %td= duplicate_link_to "http://www.youtube.com/watch?v=s5_4aBefkR4&feature=plcp","java"
          %tr
            %td JAVA_15继承的基本概念
            %td= duplicate_link_to "http://www.youtube.com/watch?v=6veVNJfJTqU&feature=plcp","java"
          %tr
            %td JAVA_16两个重要比较
            %td= duplicate_link_to "http://www.youtube.com/watch?v=YF1EDeeNsMU&feature=plcp","java"
          %tr
            %td JAVA_17题目分析
            %td= duplicate_link_to "http://www.youtube.com/watch?v=9nCbZ5JEA6Q&feature=plcp","java"
          %tr
            %td JAVA_18final关键字
            %td= duplicate_link_to "http://www.youtube.com/watch?v=yfZb2IqoSkw&feature=plcp","java"
          %tr
            %td JAVA_19抽象类
            %td= duplicate_link_to "http://www.youtube.com/watch?v=85LEBHcrw3o&feature=plcp","java"
          %tr
            %td JAVA_20接口
            %td= duplicate_link_to "http://www.youtube.com/watch?v=ETrkhZ4FuAE&feature=plcp","java"
          %tr
            %td JAVA_21对象多态性
            %td= duplicate_link_to "http://www.youtube.com/watch?v=OtmGqxQdHmA&feature=plcp","java"
          %tr
            %td JAVA_22抽象类的实际作用
            %td= duplicate_link_to "http://www.youtube.com/watch?v=j_MrkqAVYq8&feature=plcp","java"
          %tr
            %td JAVA_23接口的实际作用
            %td= duplicate_link_to "http://www.youtube.com/watch?v=GiHMNZRcN4E&feature=plcp","java"
          %tr
            %td JAVA_24接口和抽象类的区别
            %td= duplicate_link_to "http://www.youtube.com/watch?v=KD3CdwU5_AQ&feature=plcp","java"
          %tr
            %td JAVA_25Object类
            %td= duplicate_link_to "http://www.youtube.com/watch?v=YrEOO7PL7OQ&feature=plcp","java"
          %tr
            %td JAVA_26抢答题.wmv
            %td= duplicate_link_to "http://www.youtube.com/watch?v=Bnr0LgVH6vM&feature=plcp","java"          
          %tr
            %td JAVA_27匿名内部类
            %td= duplicate_link_to "http://www.youtube.com/watch?v=AULl2Z3lByg&feature=plcp","java"
          %tr
            %td JAVA_28包装类
            %td= duplicate_link_to "http://www.youtube.com/watch?v=z2tF-dW_PPY&feature=plcp","java"
          %tr
            %td JAVA_29异常的捕获及处理
            %td= duplicate_link_to "http://www.youtube.com/watch?v=HCZqbKGFfSg&feature=plcp","java"
          %tr
            %td JAVA_30异常处理的其他操作
            %td= duplicate_link_to "http://www.youtube.com/watch?v=4S_z4_ZHjlQ&feature=plcp","java"
          %tr
            %td JAVA_31包
            %td= duplicate_link_to "http://www.youtube.com/watch?v=vatJ5NOzG-c&feature=plcp","java"
          %tr
            %td JAVA_32访问控制权限
            %td= duplicate_link_to "http://www.youtube.com/watch?v=0SwAGGJMPhM&feature=plcp","java"
          %tr
            %td JAVA_33JAR
            %td= duplicate_link_to "http://www.youtube.com/watch?v=idsf2U-L5Wo&feature=plcp","java"
          %tr
            %td JAVA_34eclipse JDT的使用
            %td= duplicate_link_to "http://www.youtube.com/watch?v=vMLeoS_3ZFw&feature=plcp","java"
          %tr
            %td JAVA_35eclipse junit的使用
            %td= duplicate_link_to "http://www.youtube.com/watch?v=O3Ysj-BsB5g&feature=plcp","java"
          %tr
            %td JAVA_36eclipse cvs的使用
            %td= duplicate_link_to "http://www.youtube.com/watch?v=Lq1b8NDHn24&feature=plcp","java"
          %tr
            %td JAVA_37泛型的问题思考
            %td= duplicate_link_to "http://www.youtube.com/watch?v=ct9jS4efMH8&feature=plcp","java"
          %tr
            %td JAVA_38泛型（一）
            %td= duplicate_link_to "http://www.youtube.com/watch?v=OzKzJ8LXjAo&feature=plcp","java"
          %tr
            %td JAVA_39泛型（二）
            %td= duplicate_link_to "http://www.youtube.com/watch?v=W_VgG0-ymu8&feature=plcp","java"
          %tr
            %td JAVA_40泛型（三）
            %td= duplicate_link_to "http://www.youtube.com/watch?v=uubiFrxAMxo&feature=plcp","java"
          %tr
            %td JAVA_41面向对象题目
            %td= duplicate_link_to "http://www.youtube.com/watch?v=lXJS4M3GACk&feature=plcp","java"
          %tr
            %td JAVA_42多线程概念、两种实现方式的区别
            %td= duplicate_link_to "http://www.youtube.com/watch?v=ITaoW5EZLds&feature=plcp","java"
          %tr
            %td JAVA_43线程的操作方法
            %td= duplicate_link_to "http://www.youtube.com/watch?v=S0k_YEsJ9IY&feature=plcp","java"
          %tr
            %td JAVA_44线程同步与死锁
            %td= duplicate_link_to "http://www.youtube.com/watch?v=d9wdovBE_h8&feature=plcp","java"
          %tr
            %td JAVA_45生产者-消费者
            %td= duplicate_link_to "http://www.youtube.com/watch?v=oQ58JFlCNiQ&feature=plcp","java"
          %tr
            %td JAVA_46StringBuffer
            %td= duplicate_link_to "http://www.youtube.com/watch?v=i96DamTJ__0&feature=plcp","java"
          %tr
            %td JAVA_47Runtime
            %td= duplicate_link_to "http://www.youtube.com/watch?v=s5cC4UN0uLc&feature=plcp","java"
          %tr
            %td JAVA_48System
            %td= duplicate_link_to "http://www.youtube.com/watch?v=d0Ni6o-8Tf8&feature=plcp","java"
          %tr
            %td JAVA_49国际化程序实现
            %td= duplicate_link_to "http://www.youtube.com/watch?v=ZBVzcbWWOy0&feature=plcp","java"
          %tr
            %td JAVA_50日期操作类
            %td= duplicate_link_to "http://www.youtube.com/watch?v=8FPBHc_PhWw&feature=plcp","java"
          %tr
            %td JAVA_51日期操作题目讲解
            %td= duplicate_link_to "http://www.youtube.com/watch?v=cymd94zvEJE&feature=plcp","java"
          %tr
            %td MLDN魔乐JAVA 52日期格式化
            %td= duplicate_link_to "http://www.youtube.com/watch?v=AjNhQkpLjN8&feature=plcp","java"
          %tr
            %td JAVA_53Math与Random
            %td= duplicate_link_to "http://www.youtube.com/watch?v=ubWcw-dgfyY&feature=plcp","java"
          %tr
            %td JAVA_54NumberFormat
            %td= duplicate_link_to "http://www.youtube.com/watch?v=zWgZPlZsy7c&feature=plcp","java"
          %tr
            %td JAVA_55大数操作
            %td= duplicate_link_to "http://www.youtube.com/watch?v=tp5_SPCMVaE&feature=plcp","java"
          %tr
            %td JAVA_57Arrays和比较器
            %td= duplicate_link_to "http://www.youtube.com/watch?v=kldezasCrcY&feature=plcp","java"
          %tr
            %td JAVA_58观察者模式
            %td= duplicate_link_to "http://www.youtube.com/watch?v=6JvYgHfFb6A&feature=plcp","java"
          %tr
            %td JAVA_59正则表达式
            %td= duplicate_link_to "http://www.youtube.com/watch?v=V4ytqzDnW4w&feature=plcp","java"
          %tr
            %td JAVA_60File类
            %td= duplicate_link_to "http://www.youtube.com/watch?v=7UgxcGau3h0&feature=plcp","java"
          %tr
            %td JAVA_61题目讲解
            %td= duplicate_link_to "http://www.youtube.com/watch?v=xu55D9nPM6c&feature=plcp","java"
          %tr
            %td JAVA_62RandomAccessFile
            %td= duplicate_link_to "http://www.youtube.com/watch?v=jpwnQYeJSH8&feature=plcp","java"
          %tr
            %td JAVA_63字节流和字符流
            %td= duplicate_link_to "http://www.youtube.com/watch?v=mD9u2lUkyLM&feature=plcp","java"
          %tr
            %td JAVA_64题目讲解
            %td= duplicate_link_to "http://www.youtube.com/watch?v=CS5cmT56sBc&feature=plcp","java"
          %tr
            %td JAVA_65内存流
            %td= duplicate_link_to "http://www.youtube.com/watch?v=fcD0u1p-Wx8&feature=plcp","java"
          %tr
            %td JAVA_66管道流
            %td= duplicate_link_to "http://www.youtube.com/watch?v=9TDf69xDIW4&feature=plcp","java"
          %tr
            %td JAVA_68System对IO的支持
            %td= duplicate_link_to "http://www.youtube.com/watch?v=Kfgvqq_WSxM&feature=plcp","java"
          %tr
            %td JAVA_69BufferedReader
            %td= duplicate_link_to "http://www.youtube.com/watch?v=qWA8z4J9qlU&feature=plcp","java"
          %tr
            %td JAVA_70 IO练习（一）
            %td= duplicate_link_to "http://www.youtube.com/watch?v=aEI8_2V-bzk&feature=plcp","java"
          %tr
            %td JAVA_71 IO练习（二）
            %td= duplicate_link_to "http://www.youtube.com/watch?v=3rpJ7lB72aA&feature=plcp","java"
          %tr
            %td JAVA_72Scanner
            %td= duplicate_link_to "http://www.youtube.com/watch?v=92wyfovevXM&feature=plcp","java"
          %tr
            %td JAVA_73字符编码
            %td= duplicate_link_to "http://www.youtube.com/watch?v=jC_YtXtNs6s&feature=plcp","java"
          %tr
            %td JAVA_74对象序列化
            %td= duplicate_link_to "http://www.youtube.com/watch?v=aKhUL_GTKgM&feature=plcp","java"
          %tr
            %td JAVA_75对象序列化练习
            %td= duplicate_link_to "http://www.youtube.com/watch?v=EWqdI-3WRqg&feature=plcp","java"
          %tr
            %td JAVA_76投票程序讲解
            %td= duplicate_link_to "http://www.youtube.com/watch?v=WltcFsKS06M&feature=plcp","java"
  %section#global2
    .page-header
      %h1
        Java 英文教學影片
        %small 很簡單明瞭哦！順便練英聽
      =link_to "java 初學者英文教學影片", "http://www.youtube.com/playlist?list=PLFE2CE09D83EE3E28&feature=plcp", :onclick => "recordOutboundLink(this, 'Outbound Links', 'java EN');return false;"
      %br
      =link_to "java 進階英文教學影片", "http://www.youtube.com/playlist?list=PL27BCE863B6A864E3&feature=plcp", :onclick => "recordOutboundLink(this, 'Outbound Links', 'java EN');return false;"
